@media (min-width: 1025px) {
    .template-title {

        &.half-section {
            &:after {
                display: none;
            }

            h2:after {
                content: "";
                display: inline-block;
            }
        }
    }

    .template-title {
        &.text-lg-start {
            &:after {
                left: 0;
                transform: none;
            }
        }
    }

    .slider-advantages {
        .swiper-wrapper {
            flex-wrap: wrap;
            gap: 26px 0;
        }

        .swiper-slide {
            max-width: 25%;

        }
    }
}
