@media screen and (max-width: 767px) {
    .form-row {
        flex-direction: column;
        gap: 0px;
    }

    .calculation-form {
        padding: 50px 30px 34px;
        border-radius: 20px;

        .btn-lg {
            width: 100%;

            .icon {
                margin: 0 -14px 0 auto;
            }
        }
    }
    .variation-box {
        padding-top: 10px;
    }
    .special-gap {
        margin-bottom: 0px;
    }
}
