@media screen and (max-width: 1399px) {
    .calculation-decoration {
        max-width: 40vw;
    }
    .swiper-template {
        margin: -15px auto 0;
        max-width: 960px;
    }
    .swiper-template .swiper-template-nav {
        left: 0px;
    }
}