.calculation-form {
    max-width: 626px;
    padding: 47px 50px 61px;
    background-color: $bg-secondary;
    border-radius: 20px;
}

.form-row {
    display: flex;
    gap: 30px;
}

.form-column {
    width: 100%;
}

.input-box {
    margin-bottom: 17px;
}

.variation-box {
    padding-top: 23px;
}

.control-box {
    margin-bottom: 14px;
}

[type="file"] {
    display: none;
}

.input-box .calculation-label {
    border: 2px dashed #ffffff42;
    padding: 10px 24px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: .3s;
    margin-bottom: 10px;
    &:hover {
        color: $color-secondary;
        border: 2px dashed $color-secondary;
    }
}

.file-name {
    font-size: 15px;
    margin: 0 0 9px 0;
}

.special-gap {
   margin-bottom: 17px;
}