.header-nav {
    @extend .container;
    display: flex;
    padding-top: 25px;
    padding-bottom: 39px;
    position: relative;

    .btn {
        padding: 13px 21px;
    }
}

.mobile-container {
    display: flex;
    width: 100%;
}

.header-nav-list {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 45px;
    padding: 4px 12px 0 12px;

    a {
        color: $text-color;
        text-decoration: none;
    }
}



.btn-burger div,
.btn-burger:before,
.btn-burger:after {
    height: 2px;
    width: 28px;
}

.btn-burger {
    height: 24px;
    width: 28px;
    padding: 0;
    border: none;
    position: relative;
    background-color: transparent;

    div,
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: #fff;
        transition: .3s;
    }

    &:after {
        top: 22px;
    }

    div {
        top: 11px;
    }

    &.active {
        &:after {
            top: 11px;
            transform: rotate(45deg);
        }

        &:before,
        div {
            top: 11px;
            transform: rotate(-45deg);
        }
        div {
            background-color: transparent;
        }
    }

}
