<header>
    <div class="header-nav">
        <a href="index.html" class="logo">
            <img src="assets/img/logo.svg" alt="logo">
        </a>
        <div class="mobile-container">
            <nav class="header-nav-list">
                <a href="#">Цены и сроки</a>
                <a href="#">Услуги</a>
                <a href="#">О компании</a>
                <a href="#">Контакты</a>
                <a href="#">Оформить груз</a>
            </nav>
            <a href="index.html" class="btn btn-primary">Оставить заявку</a>
        </div>
        <button class="hamburger ms-auto d-lg-none hamburger--collapse" type="button">
            <span class="hamburger-box">
              <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
</header>

